.tablist {
    overflow: auto;
    white-space:nowrap;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.tablist .list-inline-item {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding: 20px;
  margin-right: 0px;
}

.tablist > .active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
