.list {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

.tabContainer {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow-x: auto;
}

.tabItem {
  border-right: 1px solid #EAEAEA;
  padding: 0 5px;
}
